<!DOCTYPE html>
<html>
<head>
	<title>Accelerometer Demo</title>
	<script type="text/javascript" src="/canvasjs.min.js"></script>
</head>
<body>
	<h1>Accelerometer Test</h1>
	<div id='reading-box'>
	</div>
	<div id="chartContainer" style="height: 300px; width: 100%;">
  </div>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		"use strict"

			var xx = [],
	        xy = [],
	        yx = [],
	        yy = [],
	        zx = [],
	        zy = [];

	    var count = 0;

	    window.onload = chart_call(xx, xy, yx, yy, zx, zy);

	    function chart_call(xx, xy, yx, yy, zx, zy) {
	      var x = [],
	          y = [],
	          z = [];
	      for(var i = 0; i < xx.length; i++) {
	        x.push({x: i, y: xy[i]});
					console.log(xy[i]);
	      }
	      for(var i = 0; i < yx.length; i++) {
	        y.push({x: i, y: yy[i]});
					console.log(yy[i]);
	      }
	      for(var i = 0; i < zx.length; i++) {
	        z.push({x: i, y: zy[i]});
					console.log(zy[i]);
	      }

	    var chart = new CanvasJS.Chart("chartContainer",
	    {
	      title:{
	      text: "Multi-Series Line Chart"
	      },
	      data: [
	      {
	        type: "line",
	        dataPoints: x
	      },
	        {
	        type: "line",
	        dataPoints: y
	      },
	        {
	        type: "line",
	        dataPoints: z
	      }
	      ]
	    });

	    chart.render();
	  }

		let dataPointMap = {};
		let numPoints = 100;
		let socket = io('http://localhost:3000/');
		socket.on('reading', function(data) {
			let readingElement = document.getElementById('reading-' + data.id);
			if (readingElement == null) {
				dataPointMap[data.id] = [data.x];
				readingElement = document.createElement('DIV');
				readingElement.setAttribute('id', 'reading-' + data.id);
				document.getElementById('reading-box').appendChild(readingElement);
			}

			readingElement.innerHTML = `Device ${data.id} - x: ${data.x}, y:${data.y}, z:${data.z}`;
			count += 1;
			xx.push(count);
	    xy.push(parseInt(data.x));
	    yx.push(count);
	    yy.push(parseInt(data.y));
	    zx.push(count);
	    zy.push(parseInt(data.z));
	    chart_call(xx, xy, yx, yy, zx, zy);
		});
	</script>
</body>
</html>
