<!DOCTYPE html>
<html>
<head>
	<title>Accelerometer Demo</title>
</head>
<body>
	<h1>Accelerometer Test</h1>
	<div id='reading-box'>
	</div>
	<div id='gravity-box' width="500" height="500">
	</div>
	<script src="matter.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		let 
			Engine = Matter.Engine,
			Render = Matter.Render,
			World = Matter.World,
			Body = Matter.Body,
			Bodies = Matter.Bodies;

		let engine = Engine.create();
		engine.world.gravity.y = 0;
		let gravityBox = document.getElementById('gravity-box');
		let render = Render.create({
			element: gravityBox,
			engine: engine
		});

		Engine.run(engine);
		Render.run(render);

		let dataPointMap = {};
		let numPoints = 100;
		let socket = io('http://localhost:3000/');

		let ballList = {};

		socket.on('reading', function(data) {
			let readingElement = document.getElementById('reading-' + data.id);
			if (readingElement == null) {
				// Add readings
				readingElement = document.createElement('DIV');
				readingElement.setAttribute('id', 'reading-' + data.id);
				document.getElementById('reading-box').appendChild(readingElement);

				// Add ball
				let newBall = Bodies.circle(data.x, data.y, 40);
				ballList[data.id] = newBall;
				World.add(engine.world, [ballList[data.id]]);
				console.log(ballList[data.id].position);
				console.log("added new ball");
			} else {
				Body.translate(ballList[data.id], {x: (data.x - ballList[data.id].position.x) , y: (data.y - ballList[data.id].position.y) });
			}
			readingElement.innerHTML = `Device ${data.id} - x: ${data.x}, y:${data.y}`;
		});
	</script>
</body>
</html>